$lightBg: #fff
$lightText: #0C1D2C
$lightPlaceholder: #F2F4F9
$darkBg: #0C1D2C
$darkText: #fff
$darkPlaceholder: #0D243A
$darkShadow: #0143CD

$fireBg: #FF004B
$fireText: #fff
$firePlaceholder: #ED0047
$fireShadow: #53011a

$oceanBg: #0143CD
$oceanText: #fff
$oceanPlaceholder: #0149CE
$oceanShadow: #0235A1

$accentBg: #FF004B
$accentText: #fff
$accentPlaceholder: #ED0047

$accent: #FF004B //FA004B
$text: #434E63
$border: #DCDEE2
$grey1: #434E63
$grey2: #727A8A
$grey3: #A1A6B0
$grey4: #B8BCC4
$grey5: #B8BCC4
$grey6: #DCDEE2

// cubic easing function
// https://easings.net/#easeOutCubic
$easeCurve: cubic-bezier(0.5, 1, 0.89, 1)
