@font-face
  font-family: 'daform'
  src: url('../../../static/fonts/daform-bold.woff2') format('woff2'), url('../../../static/fonts/daform-bold.woff') format('woff')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'daform'
  src: url('../../../static/fonts/daform-light.woff2') format('woff2'), url('../../../static/fonts/daform-light.woff') format('woff')
  font-weight: 200
  font-style: normal


html
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

body
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background: #fff
  font-family: 'daform', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  font-weight: 200

  &.dark
    background-color: $darkBg
    color: $darkText
  &.light
    background-color: $lightBg
    color: $lightText

::selection
  background: $accent

::-moz-selection
  background: $accent

[hidden],
template
  display: none

a
  color: #5781AB
  text-decoration: underline
  background-color: transparent
  -webkit-text-decoration-skip: objects

a:active,
a:hover
  outline-width: 0
  color: #FF4D47
  text-decoration: none

b,
strong
  font-weight: inherit
  font-weight: bolder

img
  border-style: none

svg:not(:root)
  overflow: hidden

button
  font: inherit
  margin: 0
  overflow: visible

button,
select
  text-transform: none

[type="reset"],
[type="submit"],
button,
html [type="button"]
  -webkit-appearance: button

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner
  border-style: none
  padding: 0

html
  font: 112.5%/1.45em georgia, serif
  box-sizing: border-box
  overflow-y: scroll

*
  box-sizing: inherit

*:before
  box-sizing: inherit

*:after
  box-sizing: inherit

body
  font-size: 1.2rem
  line-height: 1.65rem
  font-weight: normal
  word-wrap: break-word
  font-kerning: normal
  -moz-font-feature-settings: "kern", "liga", "clig", "calt"
  -ms-font-feature-settings: "kern", "liga", "clig", "calt"
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt"
  font-feature-settings: "kern", "liga", "clig", "calt"
  background: #fff top left repeat-x
  background-position-y: 50px
  background-image: url("data:image/svg+xml;utf8,<svg width='17' height='284' xmlns='http://www.w3.org/2000/svg'><g fill='%23F2F4F9' fill-rule='evenodd'><path d='M4.225 282.362l-.819.819.819.819.818-.819zM12.512 282.362l-.819.819.819.819.82-.819zM.081 273.958l-.936.936.936.936.936-.936zM8.369 273.958l-.937.936.937.936.935-.936zM16.656 273.958l-.936.936.936.936.935-.936zM4.225 265.554l-1.054 1.052 1.054 1.054 1.053-1.054zM12.512 265.554l-1.053 1.052 1.053 1.054 1.053-1.054zM.081 257.149l-1.169 1.17 1.169 1.17 1.17-1.17zM8.369 257.149l-1.17 1.17 1.17 1.17 1.17-1.17zM16.656 257.149l-1.17 1.17 1.17 1.17 1.17-1.17zM4.225 248.745l-1.287 1.287 1.287 1.287 1.287-1.287zM12.512 248.745l-1.287 1.287 1.287 1.287 1.287-1.287zM.081 240.341l-1.404 1.404 1.404 1.403 1.404-1.403zM8.369 240.341l-1.405 1.404 1.405 1.403 1.403-1.403zM16.656 240.341l-1.405 1.404 1.405 1.403 1.404-1.403zM4.225 231.907l-1.551 1.55 1.551 1.551 1.55-1.551zM12.512 231.907l-1.551 1.55 1.551 1.551 1.55-1.551zM.081 223.474l-1.697 1.696 1.697 1.697 1.697-1.697zM8.369 223.474l-1.697 1.696 1.697 1.697 1.696-1.697zM16.656 223.474l-1.697 1.696 1.697 1.697 1.696-1.697zM4.225 215.04l-1.843 1.843 1.843 1.842 1.843-1.842zM12.512 215.04l-1.843 1.843 1.843 1.842 1.843-1.842zM.081 206.636l-1.959 1.959 1.959 1.96 1.959-1.96zM8.369 206.636l-1.96 1.959 1.96 1.96 1.96-1.96zM16.656 206.636l-1.96 1.959 1.96 1.96 1.96-1.96zM4.225 198.202l-2.106 2.106 2.106 2.106 2.106-2.106zM12.512 198.202l-2.106 2.106 2.106 2.106 2.106-2.106zM.081 189.71l-2.311 2.311 2.311 2.31 2.311-2.31zM8.369 189.71l-2.311 2.311 2.311 2.31 2.31-2.31zM16.656 189.71l-2.311 2.311 2.311 2.31 2.31-2.31zM4.225 181.277l-2.457 2.457 2.457 2.457 2.457-2.457zM12.512 181.277l-2.457 2.457 2.457 2.457 2.457-2.457zM.081 172.814l-2.632 2.633 2.632 2.632 2.632-2.632zM8.369 172.814l-2.633 2.633 2.633 2.632L11 175.447zM16.656 172.814l-2.633 2.633 2.633 2.632 2.633-2.632zM4.225 164.351l-2.809 2.808 2.809 2.808 2.808-2.808zM12.512 164.351l-2.807 2.808 2.807 2.808 2.808-2.808zM.081 155.947l-2.925 2.925 2.925 2.925 2.925-2.925zM8.369 155.947l-2.925 2.925 2.925 2.925 2.924-2.925zM16.656 155.947l-2.925 2.925 2.925 2.925 2.925-2.925zM4.225 147.484l-3.101 3.101 3.101 3.1 3.101-3.1zM12.512 147.484l-3.1 3.101 3.1 3.1 3.101-3.1zM.081 139.021l-3.276 3.276 3.276 3.276 3.276-3.276zM8.369 139.021l-3.277 3.276 3.277 3.276 3.275-3.276zM16.656 139.021l-3.277 3.276 3.277 3.276 3.276-3.276zM4.225 130.588L.802 134.01l3.423 3.422 3.422-3.422zM12.512 130.588L9.09 134.01l3.422 3.422 3.422-3.422zM.081 122.096l-3.626 3.627 3.626 3.626 3.627-3.626zM8.369 122.096l-3.627 3.627 3.627 3.626 3.627-3.626zM16.656 122.096l-3.627 3.627 3.627 3.626 3.627-3.626zM4.225 113.604l-3.832 3.831 3.832 3.832 3.831-3.832zM12.512 113.604l-3.832 3.831 3.832 3.832 3.832-3.832zM.081 105.17l-3.978 3.978 3.978 3.978 3.978-3.978zM8.369 105.17l-3.979 3.978 3.979 3.978 3.977-3.978zM16.656 105.17l-3.978 3.978 3.978 3.978 3.977-3.978zM-4.063 96.707l-4.152 4.154 4.152 4.153 4.154-4.153z'/><path d='M4.225 96.707l-4.153 4.154 4.153 4.153 4.153-4.153z'/><path d='M12.512 96.707l-4.153 4.154 4.153 4.153 4.154-4.153z'/><path d='M20.799 96.707l-4.153 4.154 4.153 4.153 4.154-4.153zM.081 88.274l-4.298 4.3 4.298 4.299 4.299-4.299z'/><path d='M8.369 88.274l-4.3 4.3 4.3 4.299 4.299-4.299z'/><path d='M16.656 88.274l-4.3 4.3 4.3 4.299 4.3-4.299zM-4.063 79.811l-4.474 4.475 4.474 4.476 4.476-4.476z'/><path d='M4.225 79.811l-4.476 4.475 4.476 4.476L8.7 84.286z'/><path d='M12.512 79.811l-4.475 4.475 4.475 4.476 4.475-4.476z'/><path d='M20.799 79.811l-4.474 4.475 4.474 4.476 4.476-4.476zM.081 71.348l-4.65 4.651 4.65 4.651 4.651-4.651z'/><path d='M8.369 71.348l-4.651 4.651 4.651 4.651 4.65-4.651z'/><path d='M16.656 71.348l-4.651 4.651 4.651 4.651 4.65-4.651zM-4.063 62.915l-4.796 4.797 4.796 4.797 4.797-4.797z'/><path d='M4.225 62.915l-4.797 4.797 4.797 4.797 4.797-4.797z'/><path d='M12.512 62.915l-4.797 4.797 4.797 4.797 4.797-4.797z'/><path d='M20.799 62.915l-4.797 4.797 4.797 4.797 4.797-4.797zM.081 54.452l-4.971 4.972 4.971 4.973 4.972-4.973z'/><path d='M8.369 54.452l-4.973 4.972 4.973 4.973 4.972-4.973z'/><path d='M16.656 54.452l-4.973 4.972 4.973 4.973 4.972-4.973zM-4.063 46.018l-5.117 5.119 5.117 5.119 5.119-5.119z'/><path d='M4.225 46.018l-5.119 5.119 5.119 5.119 5.118-5.119z'/><path d='M12.512 46.018l-5.119 5.119 5.119 5.119 5.118-5.119z'/><path d='M20.799 46.018l-5.118 5.119 5.118 5.119 5.119-5.119zM.081 37.614l-5.235 5.235 5.235 5.236 5.236-5.236z'/><path d='M8.369 37.614l-5.237 5.235 5.237 5.236 5.235-5.236z'/><path d='M16.656 37.614l-5.236 5.235 5.236 5.236 5.235-5.236zM-4.063 29.151l-5.41 5.411 5.41 5.411 5.411-5.411z'/><path d='M4.225 29.151l-5.411 5.411 5.411 5.411 5.411-5.411z'/><path d='M12.512 29.151l-5.411 5.411 5.411 5.411 5.411-5.411z'/><path d='M20.799 29.151l-5.411 5.411 5.411 5.411 5.411-5.411zM.081 20.718l-5.556 5.557 5.556 5.557 5.557-5.557z'/><path d='M8.369 20.718l-5.558 5.557 5.558 5.557 5.557-5.557z'/><path d='M16.656 20.718l-5.558 5.557 5.558 5.557 5.557-5.557zM-4.063 12.313l-5.673 5.675 5.673 5.674 5.675-5.674z'/><path d='M4.225 12.313l-5.675 5.675 5.675 5.674 5.674-5.674z'/><path d='M12.512 12.313l-5.675 5.675 5.675 5.674 5.674-5.674z'/><path d='M20.799 12.313l-5.674 5.675 5.674 5.674 5.675-5.674zM.081 3.909L-5.71 9.701l5.791 5.791 5.791-5.791z'/><path d='M8.369 3.909L2.577 9.701l5.792 5.791 5.791-5.791z'/><path d='M16.656 3.909l-5.791 5.792 5.791 5.791 5.791-5.791zM-4.063-4.525L-10 1.413l5.937 5.938 5.938-5.938z'/><path d='M4.225-4.525l-5.937 5.938 5.937 5.938 5.938-5.938z'/><path d='M12.512-4.525L6.575 1.413l5.937 5.938 5.938-5.938z'/><path d='M20.799-4.525l-5.937 5.938 5.937 5.938 5.938-5.938z'/></g></svg>")

body.dark
  background-position-y: 56px
  background-image: url("data:image/svg+xml;utf8,<svg width='17' height='284' xmlns='http://www.w3.org/2000/svg'><g fill='%230D243A' fill-rule='evenodd'><path d='M4.225 282.362l-.819.819.819.819.818-.819zM12.512 282.362l-.819.819.819.819.82-.819zM.081 273.958l-.936.936.936.936.936-.936zM8.369 273.958l-.937.936.937.936.935-.936zM16.656 273.958l-.936.936.936.936.935-.936zM4.225 265.554l-1.054 1.052 1.054 1.054 1.053-1.054zM12.512 265.554l-1.053 1.052 1.053 1.054 1.053-1.054zM.081 257.149l-1.169 1.17 1.169 1.17 1.17-1.17zM8.369 257.149l-1.17 1.17 1.17 1.17 1.17-1.17zM16.656 257.149l-1.17 1.17 1.17 1.17 1.17-1.17zM4.225 248.745l-1.287 1.287 1.287 1.287 1.287-1.287zM12.512 248.745l-1.287 1.287 1.287 1.287 1.287-1.287zM.081 240.341l-1.404 1.404 1.404 1.403 1.404-1.403zM8.369 240.341l-1.405 1.404 1.405 1.403 1.403-1.403zM16.656 240.341l-1.405 1.404 1.405 1.403 1.404-1.403zM4.225 231.907l-1.551 1.55 1.551 1.551 1.55-1.551zM12.512 231.907l-1.551 1.55 1.551 1.551 1.55-1.551zM.081 223.474l-1.697 1.696 1.697 1.697 1.697-1.697zM8.369 223.474l-1.697 1.696 1.697 1.697 1.696-1.697zM16.656 223.474l-1.697 1.696 1.697 1.697 1.696-1.697zM4.225 215.04l-1.843 1.843 1.843 1.842 1.843-1.842zM12.512 215.04l-1.843 1.843 1.843 1.842 1.843-1.842zM.081 206.636l-1.959 1.959 1.959 1.96 1.959-1.96zM8.369 206.636l-1.96 1.959 1.96 1.96 1.96-1.96zM16.656 206.636l-1.96 1.959 1.96 1.96 1.96-1.96zM4.225 198.202l-2.106 2.106 2.106 2.106 2.106-2.106zM12.512 198.202l-2.106 2.106 2.106 2.106 2.106-2.106zM.081 189.71l-2.311 2.311 2.311 2.31 2.311-2.31zM8.369 189.71l-2.311 2.311 2.311 2.31 2.31-2.31zM16.656 189.71l-2.311 2.311 2.311 2.31 2.31-2.31zM4.225 181.277l-2.457 2.457 2.457 2.457 2.457-2.457zM12.512 181.277l-2.457 2.457 2.457 2.457 2.457-2.457zM.081 172.814l-2.632 2.633 2.632 2.632 2.632-2.632zM8.369 172.814l-2.633 2.633 2.633 2.632L11 175.447zM16.656 172.814l-2.633 2.633 2.633 2.632 2.633-2.632zM4.225 164.351l-2.809 2.808 2.809 2.808 2.808-2.808zM12.512 164.351l-2.807 2.808 2.807 2.808 2.808-2.808zM.081 155.947l-2.925 2.925 2.925 2.925 2.925-2.925zM8.369 155.947l-2.925 2.925 2.925 2.925 2.924-2.925zM16.656 155.947l-2.925 2.925 2.925 2.925 2.925-2.925zM4.225 147.484l-3.101 3.101 3.101 3.1 3.101-3.1zM12.512 147.484l-3.1 3.101 3.1 3.1 3.101-3.1zM.081 139.021l-3.276 3.276 3.276 3.276 3.276-3.276zM8.369 139.021l-3.277 3.276 3.277 3.276 3.275-3.276zM16.656 139.021l-3.277 3.276 3.277 3.276 3.276-3.276zM4.225 130.588L.802 134.01l3.423 3.422 3.422-3.422zM12.512 130.588L9.09 134.01l3.422 3.422 3.422-3.422zM.081 122.096l-3.626 3.627 3.626 3.626 3.627-3.626zM8.369 122.096l-3.627 3.627 3.627 3.626 3.627-3.626zM16.656 122.096l-3.627 3.627 3.627 3.626 3.627-3.626zM4.225 113.604l-3.832 3.831 3.832 3.832 3.831-3.832zM12.512 113.604l-3.832 3.831 3.832 3.832 3.832-3.832zM.081 105.17l-3.978 3.978 3.978 3.978 3.978-3.978zM8.369 105.17l-3.979 3.978 3.979 3.978 3.977-3.978zM16.656 105.17l-3.978 3.978 3.978 3.978 3.977-3.978zM-4.063 96.707l-4.152 4.154 4.152 4.153 4.154-4.153z'/><path d='M4.225 96.707l-4.153 4.154 4.153 4.153 4.153-4.153z'/><path d='M12.512 96.707l-4.153 4.154 4.153 4.153 4.154-4.153z'/><path d='M20.799 96.707l-4.153 4.154 4.153 4.153 4.154-4.153zM.081 88.274l-4.298 4.3 4.298 4.299 4.299-4.299z'/><path d='M8.369 88.274l-4.3 4.3 4.3 4.299 4.299-4.299z'/><path d='M16.656 88.274l-4.3 4.3 4.3 4.299 4.3-4.299zM-4.063 79.811l-4.474 4.475 4.474 4.476 4.476-4.476z'/><path d='M4.225 79.811l-4.476 4.475 4.476 4.476L8.7 84.286z'/><path d='M12.512 79.811l-4.475 4.475 4.475 4.476 4.475-4.476z'/><path d='M20.799 79.811l-4.474 4.475 4.474 4.476 4.476-4.476zM.081 71.348l-4.65 4.651 4.65 4.651 4.651-4.651z'/><path d='M8.369 71.348l-4.651 4.651 4.651 4.651 4.65-4.651z'/><path d='M16.656 71.348l-4.651 4.651 4.651 4.651 4.65-4.651zM-4.063 62.915l-4.796 4.797 4.796 4.797 4.797-4.797z'/><path d='M4.225 62.915l-4.797 4.797 4.797 4.797 4.797-4.797z'/><path d='M12.512 62.915l-4.797 4.797 4.797 4.797 4.797-4.797z'/><path d='M20.799 62.915l-4.797 4.797 4.797 4.797 4.797-4.797zM.081 54.452l-4.971 4.972 4.971 4.973 4.972-4.973z'/><path d='M8.369 54.452l-4.973 4.972 4.973 4.973 4.972-4.973z'/><path d='M16.656 54.452l-4.973 4.972 4.973 4.973 4.972-4.973zM-4.063 46.018l-5.117 5.119 5.117 5.119 5.119-5.119z'/><path d='M4.225 46.018l-5.119 5.119 5.119 5.119 5.118-5.119z'/><path d='M12.512 46.018l-5.119 5.119 5.119 5.119 5.118-5.119z'/><path d='M20.799 46.018l-5.118 5.119 5.118 5.119 5.119-5.119zM.081 37.614l-5.235 5.235 5.235 5.236 5.236-5.236z'/><path d='M8.369 37.614l-5.237 5.235 5.237 5.236 5.235-5.236z'/><path d='M16.656 37.614l-5.236 5.235 5.236 5.236 5.235-5.236zM-4.063 29.151l-5.41 5.411 5.41 5.411 5.411-5.411z'/><path d='M4.225 29.151l-5.411 5.411 5.411 5.411 5.411-5.411z'/><path d='M12.512 29.151l-5.411 5.411 5.411 5.411 5.411-5.411z'/><path d='M20.799 29.151l-5.411 5.411 5.411 5.411 5.411-5.411zM.081 20.718l-5.556 5.557 5.556 5.557 5.557-5.557z'/><path d='M8.369 20.718l-5.558 5.557 5.558 5.557 5.557-5.557z'/><path d='M16.656 20.718l-5.558 5.557 5.558 5.557 5.557-5.557zM-4.063 12.313l-5.673 5.675 5.673 5.674 5.675-5.674z'/><path d='M4.225 12.313l-5.675 5.675 5.675 5.674 5.674-5.674z'/><path d='M12.512 12.313l-5.675 5.675 5.675 5.674 5.674-5.674z'/><path d='M20.799 12.313l-5.674 5.675 5.674 5.674 5.675-5.674zM.081 3.909L-5.71 9.701l5.791 5.791 5.791-5.791z'/><path d='M8.369 3.909L2.577 9.701l5.792 5.791 5.791-5.791z'/><path d='M16.656 3.909l-5.791 5.792 5.791 5.791 5.791-5.791zM-4.063-4.525L-10 1.413l5.937 5.938 5.938-5.938z'/><path d='M4.225-4.525l-5.937 5.938 5.937 5.938 5.938-5.938z'/><path d='M12.512-4.525L6.575 1.413l5.937 5.938 5.938-5.938z'/><path d='M20.799-4.525l-5.937 5.938 5.937 5.938 5.938-5.938z'/></g></svg>")

img
  max-width: 100%
  margin-left: 0
  margin-right: 0
  margin-top: 0
  padding-bottom: 0
  padding-left: 0
  padding-right: 0
  padding-top: 0
  margin-bottom: 1.45rem

h1, h2, h3, h4, h5, h6
  font-family: 'daform', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  font-weight: 800
  letter-spacing: -0.15rem

h1
  margin-left: 0
  margin-right: 0
  margin-top: 0
  padding-bottom: 0
  padding-left: 0
  padding-right: 0
  padding-top: 0
  margin-bottom: 1.45rem
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 3rem
  line-height: 1.1

h2
  margin-left: 0
  margin-right: 0
  margin-top: 0
  padding-bottom: 0
  padding-left: 0
  padding-right: 0
  padding-top: 0
  margin-bottom: 1.45rem
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 2.25rem
  line-height: 1.1

h3
  margin-left: 0
  margin-right: 0
  margin-top: 0
  padding-bottom: 0
  padding-left: 0
  padding-right: 0
  padding-top: 0
  margin-bottom: 2rem
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 1.38316rem
  line-height: 1.1

h4
  margin-left: 0
  margin-right: 0
  margin-top: 0
  padding-bottom: 0
  padding-left: 0
  padding-right: 0
  padding-top: 0
  margin-bottom: 1.75rem
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 1rem
  line-height: 1.1

h5
  margin-left: 0
  margin-right: 0
  margin-top: 0
  padding-bottom: 0
  padding-left: 0
  padding-right: 0
  padding-top: 0
  margin-bottom: 1.5rem
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 0.85028rem
  line-height: 1.1

h6
  margin-left: 0
  margin-right: 0
  margin-top: 0
  padding-bottom: 0
  padding-left: 0
  padding-right: 0
  padding-top: 0
  margin-bottom: 1.45rem
  font-weight: bold
  text-rendering: optimizeLegibility
  font-size: 1.25rem
  line-height: 1.1


ul
  margin-left: 1.45rem
  margin-right: 0
  margin-top: 0
  padding-bottom: 0
  padding-left: 0
  padding-right: 0
  padding-top: 0
  margin-bottom: 1.45rem
  list-style-position: outside
  list-style-image: none

p
  margin-left: 0
  margin-right: 0
  margin-top: 0
  padding-bottom: 0
  padding-left: 0
  padding-right: 0
  padding-top: 0
  margin-bottom: 1.45rem

b
  font-weight: bold

strong
  font-weight: bold

li
  margin-bottom: calc(1.45rem / 2)

ol li
  padding-left: 0

ul li
  padding-left: 0

li *:last-child
  margin-bottom: 0

p *:last-child
  margin-bottom: 0

li > p
  margin-bottom: calc(1.45rem / 2)


@media only screen and (max-width: 480px)
  html
    font-size: 100%

