.headshot
  width: 175px
  margin: 2.5rem auto 0

.headshot-img
  width: 175px
  height: 175px
  box-shadow: 0 0 0 6px $accent
  margin-bottom: 1.75rem
  border-radius: 50%

.h1
  font-weight: 200
  font-size: 2.22222222rem
  letter-spacing: -0.05rem

.h1-bold
  font-weight: 800
  color: $accent

.h2
  font-weight: 200
  font-size: 1.5rem
  line-height: 1.4
  letter-spacing: -0.03rem
  max-width: 550px
  margin: 1rem auto
